.keyboard-btn {
  aspect-ratio: 1/1;
  background: none;
  border: 3px solid black;
  cursor: pointer;
  width: 100%;
  font-size: 2.5rem;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
}

.keyboard-btn:hover,
.keyboard-btn:focus {
  background-color: hsl(200, 100%, 75%);
}

.keyboard-btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.keyboard-btn.inactive {
  opacity: 0.3;
}
